.flexcontainer {
    display: flex;
    min-height: 150px;
    max-height: 450px;
    background-color: #dce7f2;
    border: 1px solid #2a4f73;
    margin-bottom: 20px;
}

.flexcontainer > div {
    height: 100px;
    width: 100px;
    background-color: #e46119;
    border: 1px solid #626262;
    margin: 3px;
}